services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: aryan
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: shopdb
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data:
